<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Garage V.Parrot</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="icon" href="images/vparrot.png">
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    {% block body %}
    <body>
         <nav>
            <article class="nav-text">
                <a href=""><h3>Modèles</h3></a>
                <a href="{{ path('home') }}#avis"><h3>Avis</h3></a>
                <a href="#footer"><h3>Nous contacter</h3></a>
            </article>
            <article class="logo">
                <a href="{{ path('home') }}">
                    <img id="logo" src="images/vparrot.png" alt="logo">
                </a>
            </article>
            <article>
                <a href="#footer">
                    <img src="images/localisation.svg" alt="localisation">
                </a>    
                {% if not is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_login') }}">
                        <img src="images/seconnecter.svg" alt="connexion">
                    </a>
                {% endif %}

                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}">
                        <img src="images/seconnecter.svg" alt="connexion">
                    </a>
                {% endif %}
            </article>
        </nav>    
        <section class="models">    
            {% for model in models %}
            <div class="car-listing">
                <img src="/images/maserati1.webp" alt="Nissan Qashqai">
                <article>
                    <div class="ligne1-car">
                        <h2>{{ model.Nom }}</h2>  <!-- Correction ici -->
                        <p>{{ model.prix }} €</p>
                    </div>
                    <div class="ligne2-car">
                        <p>{{model.km}} km | {{ model.carburant }} | {{ model.boite }} | {{ model.annee }}</p>
                        <p>{{ model.mensualite }}€/mois</p>
                    </div>
                    {# <div class="description-car">
                        <p>{{model.km}} km</p>
                        <p>{{ model.carburant }}</p>
                        <p>{{ model.boite }}</p>
                        <p>{{ model.annee }}</p>
                    </div> #}

                    <button>Voir cette voiture</button>
                </article>
            </div>
            {% endfor %}
        </section>
        


    {% if app.user and is_granted('ROLE_ADMIN') %}
    <section class="setion-btn-model">
        <button class="button-home btn-model"><a href="{{ path('app_models_new') }}">Vendre une voiture</a></button>
    </section>
    {% endif %}
    <footer id="footer">
            <section>
                <h3>GARAGE V. PARROT</h3>
                <article>
                    <img src="images/position1.png" alt="logo localisation">
                    <div class="addresse-footer">
                        <p>3 rue de l'ascendant</p>
                        <p>94358 Listenbourg</p>
                        <p id="localisation-footer">Afficher la carte</p>
                    </div>
                </article>
                <article>
                    <img src="images/mail.png" alt="logo email">
                    <p>vparrot@garage.com</p>
                </article>
                <article><img src="images/phone.png" alt="logo téléphone">
                <p>01 91 92 93 94</p></article>
                
            </section>
            <section>
                <h3>HORAIRES D'OUVERTURE : </h3>
                <article>
                    <img src="images/calendar.png" alt="calendrier">
                    <div>
                        <p>Lundi au Vendredi : 8h30 à 20h30</p>
                        <p>Samedi : 8h30 à 12h30</p>
                        <p>Dimanche : Fermé</p>
                    </div>
                </article>
                
            </section>
            <section>
                <h3>NOUS TROUVER</h3>
                <div class="iframe-footer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.6687990687333!2d3.5065825760485647!3d50.26076980100374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c292f3dc159025%3A0x3dc30acc0b327163!2sSalle%20du%20Lonny!5e0!3m2!1sfr!2sfr!4v1727738287473!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section>
        </footer>
    </body>
    {% endblock %}
</html>
        {# <div class="car-listing">
            <img src="/images/maserati1.webp" alt="Nissan Qashqai">
            <article>
                <div class="ligne1-car">
                    <h2>Nom</h2>  <!-- Correction ici -->
                    <p>Prix : 17 990 €</p>
                </div>
                <div class="ligne2-car">
                    <p>Modèle : 1.3 DIG-T N-Connecta</p>
                    <p>Mensualité : 256 €</p>
                </div>
                <div class="description-car">
                    <p>Kilométrage : 30 062 km</p>
                    <p>Carburant : Essence</p>
                    <p>Boîte de vitesses : Manuelle</p>
                    <p>Année : 2019</p>
                </div>

                <button>Voir cette voiture</button>
            </article>
        </div>
       
            


    </body>
</html> #}